body{
  background-color: #d4f4f8;
}
.calculator {
  width: 200px;
  height: 270px;
  margin: 50px auto;
  background-color: #130000;
  border: 2px solid #fcfafa;
  padding: 10px;
  box-shadow: 0 0 10px rgba(11, 0, 0, 0.1);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
  box-shadow: 0px 0px 10px  rgba(0, 0, 0, 0.1)
}

button {
  /* margin-top: 5px; */
  width: 20%;
  height: 30px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
}

#result {
  width: 165px;
  height: 30px;
  font-size: 18px;
  padding: 15px;
  border: 3px solid #ccc;
}